<!-- header, contains nav bar and contact info -->
<header class='jumbotron strap'>
	<nav class='main-nav'>
		<a [routerLink]="['/home']">Home</a>
		<a [routerLink]="['/about']">About</a>
		<a [routerLink]="['/portfolio']">Portfolio</a>
		<a href='../../assets/docs/web-dev-resume.pdf' target='_blank'>R&egrave;sum&egrave;</a>
	</nav>
	<!-- contact info -->
	<div id='my-info'>
		<p id='my-job'>Web Developer</p>
		<h1 id='my-name'>Larry Hastings</h1>
		<div id='my-contact-link'>
			<a [routerLink]="['/contact']">Contact</a>
		</div>
	</div>
</header>

