/*contains header, name, and contact-resume*/
.strap{
	background-image: url("../../assets/imgs/strap_pic.jpg");
	background-position: bottom;
	background-color: gray;
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-bottom: 120px;
	background-size: cover;
	text-align: center;
	color: #99badd;
	border-radius: 0 !important;
}
.strap a{
	color: #99badd;
}
.strap a:hover{
	text-decoration: none;
	color: red;
}

/* main navigation links*/
.main-nav a{
	display: inline-block;
	text-align: center;
	width: 125px;
	font-size: 1.5em;
	color: #99badd;
}

/*description, name, etc..*/
#my-info{
	text-align: center;
	margin-top: 60px;
}

#my-name{
	font-size: 3em
}

/*contact*/
#my-contact-link{
	font-size: 1.7em;
	border: solid;
	border-color: #99badd;
	border-radius: 15px 50px 15px 50px;
	margin-right: 40%;
	margin-left: 40%;
}
@media only screen and (max-width: 650px){
	.main-nav a{
		width: 85px;
	}
	.strap{
		height: 280px;
	}
	#my-contact-link{
		margin: 0 30% 0 30%;
	}
}
@media only screen and (max-width: 450px){
	.main-nav a{
		width: 70px;
		font-size: 1em;
	}
	
	#my-contact-link{
		margin: 0 30% 0 30%;
	}
	#my-job{
		font-size: 1.3em;
	}
}