<!-- header, contains nav bar and contact info -->
<header class='jumbotron strap'>
	<nav class='main-nav'>
		<a [routerLink]="['/home']">Home</a>
		<a [routerLink]="['/about']">About</a>
		<a [routerLink]="['/portfolio']">Portfolio</a>
		<a href='../assets/docs/IT_Resume(SSU).pdf' target='_blank'>Resume</a>	
	</nav>
	<!-- contact info -->
	<div id='my-info'>
		<p id='my-job'>Website Design and Development</p>
		<p id='my-name'>Larry Hastings</p>
		<nav id='my-contact-link'>
			<a [routerLink]="['/contact']">Contact</a>
		</nav>
	</div>
</header>

