/*#push{
	clear: both;
	height: 100px;
}*/

.footer-top-line{
	border-top-style: groove;
	margin-right: 20%;
	margin-left: 20%;
	margin-bottom: 10px;
}

footer{
	clear: both;
	font-size: 1.5em;
	text-align: center;
}

footer p{
	margin-top: 10px;
	font-size: 0.5em;
	color: black;
}
/* main navigation links*/
.main-nav a{
	display: inline-block;
	text-align: center;
	width: 125px;
	color: #99badd;
}
.main-nav a:hover{
	text-decoration: none;
	color: red;
}
@media only screen and (max-width: 650px){
	.main-nav a{
		width: 85px;
	}
}
@media only screen and (max-width: 451px){
	.main-nav a{
		width: 70px;
		font-size: 0.7em;
	}
}