.background{
    background: #ffffe6 url('../../assets/imgs/woodBeach.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}
.gadget-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
}
.left-gadget{
    max-height: 300px;
    overflow-y: scroll;
    margin-bottom: 20px;
}
::-webkit-scrollbar{
    width: 0px;
}
@media screen and (max-width: 480px){
    .gadget-container{
        margin-top: 100px;
        bottom: auto;
    }
    .background{
        height: 150vh;
    }

}
