<title>About</title>
<app-header-small></app-header-small>

<div class="image-bg" id="oregon-coast-bg">

	<div class="container">
		<div class="row" id="about-container">

      <section id="about-info" class="col-md-6">
				<img src="../../assets/imgs/profile_pic.jpg" alt="Profile picture of Larry Hastings" />

				<h1>About Me</h1>
				<p>I am passionate about web development and learning more each day by
					creating new and inventive online tools.</p>
				<p>Taking photos is one of my hobbies, and being able to choose from my own stock images plays an important part
					in my applcation development.</p>
				<p>I have worked in tech for a long time and have both masters' and bachelors' degrees
					focusing on computer networking, infrastructure, and web deployment.  MEAN.JS is my choice stack to develop in,
					but I also have some experience with PHP, C# and .NET.  Feel free to <a href="#contact">contact</a> me about anything.</p>
				<p>Thanks for visiting!</p>
      </section>

      <aside class="col-md-6">
        <h2>Blog</h2>
			  <iframe id="blog" title="wordpress-blog" src="https://hastingslweb2.wordpress.com/"></iframe>
      </aside>
		</div>
	</div>

</div>


