/*"About page" styling*/
#about-pic{
	background: #f9f2ec url('../../assets/imgs/lh.jpg') no-repeat;
	background-position: top right;
	min-height: 800px;
	
	padding-top: 100px;
	border-radius: 50px;
}
#about-info h1{
	margin-top: 100px;
	font-weight: bold;
	text-align: center;
	color: #99badd;
	text-shadow: 1px 1px 0 white,
				-1px -1px 0 white,
				1px -1px 0 white,
				-1px 1px 0 white,
				0px 1px 0 white,
				1px 0px 0 white,
				0px -1px 0 white,
				-1px 0px 0 white;
}
#about-info p{
	font: 2em bold;
}
#about-info p:first-letter{
	font-size: 2.2em;
}
@media screen and (max-width: 1103px){
	#about-info p{
		font-size: 1.5em;
	}
}
@media screen and (max-width: 991px){
	#about-info{
		background-color: rgb(60, 60, 60);
    	background: rgba(60, 60, 60, 0.7);
		border-radius: 0 200px 0 150px;
		padding-top: 30px;
		padding-bottom: 80px;
	}
	#about-info p{
		color: white;
	}
}

@media screen and (max-width: 416px){
	#about-info p{
		font-size: 1.3em;
	}
}



