<title>About</title>
<app-header-small></app-header-small>

<div class='clearfix about-container'>
	<div id="about-pic" class='col-xl-11 col-xl-offset-1 col-md-6 col-sm-12'>
		<div class='col-md-12 col-md-offset-12 col-xs-12'>
			<section id="about-info" class="col-md-12 col-xs-12">
				<h1>About Me</h1>
				<p>My name is Larry.  I am passionate about web development and learning more each day by
					developing new and inventive online tools.</p>
				<p>I have worked in tech. for a long time and have both masters' and bachelors' degrees
					focusing on computer networking, infrastructure, and web deployment.  My main focus is 
					to build functional online tools that are both easy to use and have asthetic appeal</p>
				<p>Thanks for visiting!</p>
			</section>
		</div>
	</div>
</div>

			
	
