/*"About page" styling*/
#oregon-coast-bg{
	background: #a3a3a3 url("../../assets/imgs/oregon-coast.jpeg") no-repeat center center;
  min-height: 100vh;
  height: auto;
  padding-bottom: 10px;
  background-size: cover;
  padding-top: 85px;
}
#about-container{
  background-color: #99baddb3;
  border-radius: 10px;
}
#about-info{
	padding: 10px;
}
#about-info img{
	float: left;
	margin: 0 20px 20px 0;
}
#about-info p{
	font-size: 1.5em;
}
#about-container h2{
  text-align: center;
}
#blog{
  width: 100%;
  min-height: 600px;
}
@media screen and (max-width: 767px){
	#oregon-coast-bg{
		background-position: 1% 35%;
	}
	h1{
		font-size: 1.7em;
	}
	#about-info p{
		font-size: 1.2em;
	}
}
@media screen and (max-width: 575px){
  #oregon-coast-bg{
    background-image: url("../../assets/imgs/oregon-coast-mobile.jpeg");
    background-position: bottom right;
  }
}
@media screen and (max-width: 479px){
	h1{
		font-size: 1.5em;
	}
	#about-info p{
		font-size: 1em;
	}
}
@media screen and (max-width: 350px){
	#about-info img{
		float: none;
	}
}
