<title>About</title>
<app-header-small></app-header-small>

<div class='clearfix about-container'>
	<div id="about-pic" class='col-lg-5 col-lg-offset-1 col-md-6 col-sm-12'>
		<div class='col-md-12 col-md-offset-12 col-xs-12'>
			<section id="about-info" class="col-md-12 col-xs-12">
				<h1>About Me</h1>
				<p>I am passionate about web development and learning more each day by
					creating new and inventive online tools.</p>
				<p>I have worked in tech for a long time and have both masters' and bachelors' degrees
					focusing on computer networking, infrastructure, and web deployment.  MEAN.JS is my choice stack to develop in, 
					but I also have some experience with PHP, C# and .NET.  Feel free to <a href="#contact">contact</a> me about anything.</p>
				<p>Thanks for visiting!</p>
			</section>
		</div>
	</div>
</div>

			
	
