/*"About page" styling*/
#oregon-coast-bg{
	background: #a3a3a3 url("../../assets/imgs/oregon-coast.jpeg") no-repeat center center;
	height: auto;
  padding-bottom: 10px;
  min-height: 100vh;
}
#about-info{
	background-color: #99baddb3;
	padding: 10px;
	border-radius: 10px;
	margin-top: 85px;
}

#about-info img{
	float: left;
	margin: 0 20px 20px 0;
}
#about-info p{
	font-size: 1.5em;
}

@media screen and (max-width: 767px){
	#oregon-coast-bg{
		background-position: 1% 35%;
	}
	h1{
		font-size: 1.7em;
	}
	#about-info p{
		font-size: 1.2em;
	}
}
@media screen and (max-width: 479px){
	h1{
		font-size: 1.5em;
	}
	#about-info p{
		font-size: 0.9em;
	}
}
@media screen and (max-width: 350px){
	#about-info img{
		float: none;
	}
}
