<title>Nonna Picci</title>
<h1 style="border: solid 1px black;">Here would go online ordering link, phone number &amp; location</h1>
<h1 style="border: solid 1px black;">Here would go logo, navigation links</h1>
<h2>Possible Landing Page Ideas for Home Page</h2>


<div class="jumbotron">
        <button class="home-page-buttons" style="position:absolute;left:3em;top:3em;">Specials</button>
        <button class="home-page-buttons" style="position:absolute;right:3em;top:3em;">Upcoming Events</button>
        <div style="text-align: center;padding-top:150px;">
            <h1 style='font: 10em "Brush Script MT"'>Nonna Picci</h1>
            <p style='color:#ffffff;font: 4em "Brush Script MT"'>Uniquely the best!</p>
        </div>
        <button class="home-page-buttons" style="position:absolute;left:3em;bottom:3em;">Host a Party!</button>
        <button class="home-page-buttons" style="position:absolute;right:3em;bottom:3em;">Signature Dishes</button>
</div>



<div class="jumbotron2">






</div>
<h2>About Us</h2>
<h2>Specials</h2>
<h2>Signature Dishes</h2>
<h2>Menu</h2>
<h2>Our Chef</h2>
<h2>Instagram Photos</h2>