<title>Nonna Picci</title>
<h1 style="border: solid 1px black;">Here would go logo, maybe yelp rating, phone number &amp; location</h1>
<h1 style="border: solid 1px black;">Here would go online ordering, navigation links</h1>
<h2>Possible Landing Page Ideas for Home Page</h2>
<h3>These are all pretty rough funky ideas, so use your imagination.  Think more about layout.</h3>

<div class="jumbotron head1">
        <button class="buttons home-page-button-upcoming-events" style="position:absolute;left:3em;top:3em;">Upcoming<br> Events</button>
        <button class="buttons home-page-button-host-party" style="position:absolute;right:3em;top:3em;">Host a Party!</button>
        <div style="text-align: center;padding-top:150px;">
            <h1 style='font: 8em "Brush Script MT"'>Nonna Picci</h1>
            <p style='color:#ffffff;font: 3em "Brush Script MT"'>Authentic Woodfired Pizza</p>
        </div>
        <button class="buttons home-page-button-specials" style="position:absolute;left:3em;bottom:3em;">Specials</button>
        <button class="buttons home-page-button-signature-dishes" style="position:absolute;right:3em;bottom:3em;">Signature Dishes</button>
</div>

<div class="jumbotron head2">
    <div class="col-sm-3">
        <button class="btn buttons2" >Upcoming Events</button>
        <button class="btn buttons2" >Host a Party!</button>
        <button class="btn buttons2" >Specials</button>
        <button class="btn buttons2" >Signature Dishes</button>
    </div>
    <div class="col-sm-7" style="text-align:right;position:absolute;bottom:3em;right:3em;background-color: #439f3980">
        <h1 style='font: 8em "Brush Script MT"'>Nonna Picci</h1>
        <p style='color:#ffffff;font: 3em "Brush Script MT"'>Authentic Woodfired Pizza</p>
    </div>
</div>
<h2>This is a bad picture, but it shows the general idea</h2>
<div class="jumbotron head3">
    <div class="col-md-6 col-md-offset-3" style="text-align: center;margin-top:150px;background-color:#5a0c0c60;border-radius:10em;">
        <h1 style='font: 6em "Brush Script MT";'>Nonna Picci</h1>
        <p style='color:#ffffff;font: 3em "Brush Script MT"'>Authentic Woodfired Pizza</p>
    </div>
    <button class="buttons buttons-pepperoni" style="width:10em;position:absolute;left:11em;top:1em;">Upcoming<br> Events</button>
    <button class="buttons buttons-pepperoni" style="height:9em;position:absolute;right:10em;top:2em;">Host a Party!</button>
    <button class="buttons buttons-pepperoni" style="width:11em;position:absolute;left:4em;bottom:3em;">Specials</button>
    <button class="buttons buttons-pepperoni" style="height:10em;position:absolute;right:14em;bottom:0.2em;">Signature Dishes</button>
</div>


<div class="container-fluid">

    <div class="row" style="border: 0.3em solid rgb(205, 171, 36);">
        <div class="container">
            <div class="row" style="padding: 0.5em;">
                    <h2>Yelp Reviews, Facebook Reviews, Etc...</h2>
                   <div class="col-md-3" style="background-color:rgb(205, 171, 36);border-radius:2em;">
                       <h3 style="color:white;text-align:right;">Rating</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                   </div>
                   <div class="col-md-3" style="background-color:rgb(205, 171, 36);border-radius:2em;">
                    <h3 style="color:white;text-align:right;">Rating</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-md-3" style="background-color:rgb(205, 171, 36);border-radius:2em;">
                    <h3 style="color:white;text-align:right;">Rating</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-md-3" style="background-color:rgb(205, 171, 36);border-radius:2em;">
                    <h3 style="color:white;text-align:right;">Rating</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
                
        </div>
    </div>


<div class="row">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
                <h2>About Us</h2>
                <img src="../../assets/nonna-pics/about-us-pic.png" style="float:right">
                <p style="font-size: 1.5em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p style="font-size: 1.5em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>


<div class="row" style="background-color: rgb(138, 190, 142);border-radius:50em;">
    <div class="container">
        <div class="row" style="padding: 4em;">
                <h2>Specials</h2>
                <div class="col-sm-4" style="text-align:center;">
                    <div style="border: solid 1px black;width:20em;height:20em;border-radius:100%;margin: 0 auto;"></div>
                </div>
                <div class="col-sm-4" style="text-align:center;">
                        <div style="border: solid 1px black;width:20em;height:20em;border-radius:100%;margin: 0 auto;"></div>
                </div>
                <div class="col-sm-4" style="text-align:center;">
                        <div style="border: solid 1px black;width:20em;height:20em;border-radius:100%;margin: 0 auto;"></div>
                </div>
        </div>
            
    </div>
</div>


<div class="row" style="padding: 2em;">
    <div class="container">
            <h2>Menu</h2>
        <div class="row" style="text-align:center;">
                    <h3 style="background-color:#5a0c0c60;">Pizza</h3>
                    <h4>6 inch: $6.95 &amp; up</h4>
                    <h4>12 inch: $13.95 &amp; up</h4>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2" style="font-size: 1.5em;">
                <div class="col-xs-6">
                    <ul>
                        <li>BBQ Chicken</li>
                        <li>Carnivore</li>
                        <li>Hunter Cattle</li>
                        <li>Margherita</li>
                        <li>Mushroom Pesto</li>
                    </ul>
                </div>
                <div class="col-xs-6">
                    <ul>
                        <li>Nonna Veggie</li>
                        <li>Pepperoni</li>
                        <li>Quattro Formagio</li>
                        <li>The KOA</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 4em;">
                
                <div class="col-md-6">
                    <table style="width:100%;">
                        <thead style="text-align:center;"><h3 style="background-color:#5a0c0c60;">Wings &amp; Things</h3></thead>
                        <div style="font-size: 1.3em;">
                        <tr>
                            <td>12 Wings</td>
                            <td>$10.00</td>
                        </tr>
                        <tr>
                            <td>6 Wings</td>
                            <td>$6.00</td>
                        </tr>
                        <tr>
                            <td>Bread Bites</td>
                            <td>$3.50</td>
                        </tr>
                        <tr>
                            <td>Meatballs</td>
                            <td>$5.95</td>
                        </tr>
                        </div>
                    </table>
                </div>
                <div class="col-md-6">
                        <table style="width:100%;">
                            <thead style="text-align:center;"><h3 style="background-color:#5a0c0c60;">Sandwiches</h3></thead>
                            <div style="font-size: 1.3em;">
                            <tr>
                                <td style="width:50%;">Chicken Parm</td>
                                <td>$6.95</td>
                            </tr>
                            <tr>
                                <td style="width:50%;">Ham &amp; Cheese</td>
                                <td>$6.95</td>
                            </tr>
                            <tr>
                                <td style="width:50%;">The Italian</td>
                                <td>$6.95</td>
                            </tr>
                            <tr>
                                <td style="width:50%;">Meatball Parm</td>
                                <td>$6.95</td>
                            </tr>
                            </div>
                        </table>
                </div>
        </div>
        <div class="row" style="text-align: center;">
            <button style="width: 10em;height:5em;border-radius:2em;background-color:#5a0c0c60;outline:none;">Full Menu</button>
        </div>
    </div>
</div>



<div class="row" style="background-color: rgb(138, 190, 142);">
    <div class="container">
        <div class="row" style="padding: 4em;">
                <h2>Signature Dishes</h2>
                <div class="col-sm-4" style="text-align:center;">
                    <div style="border: solid 1px black;width:20em;height:20em;border-radius:100%;margin: 0 auto;"></div>
                </div>
                <div class="col-sm-4" style="text-align:center;">
                        <div style="border: solid 1px black;width:20em;height:20em;border-radius:100%;margin: 0 auto;"></div>
                </div>
                <div class="col-sm-4" style="text-align:center;">
                        <div style="border: solid 1px black;width:20em;height:20em;border-radius:100%;margin: 0 auto;"></div>
                </div>
        </div>
            
    </div>
</div>




    <div class="row">
        <div class="container">
          <div class="row">
                <h2>Our Chef</h2>
                <div class="col-md-5">
                    <img src="../../assets/nonna-pics/blank-profile.png" class="img-circle img-responsive" style="border: solid 1em rgb(138, 190, 142);" >
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <h3 style='font: 3em "Brush Script MT";color: rgb(138, 190, 142);'>Jordan</h3>
                    <p style="font-size: 1.5em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div> 
        </div>
    </div>


    <div class="row" >
        
         <h2>Instagram Photos</h2>
        <div class="instagrams col-md-2 col-sm-3 col-xs-4"></div>
        <div class="instagrams col-md-2 col-sm-3 col-xs-4"></div>
        <div class="instagrams col-md-2 col-sm-3 col-xs-4"></div>
        <div class="instagrams col-md-2 col-sm-3 col-xs-4"></div>
        <div class="instagrams col-md-2 col-sm-3 col-xs-4"></div>
        <div class="instagrams col-md-2 col-sm-3 col-xs-4"></div>
        <div class="instagrams col-md-2 col-sm-3 col-xs-4"></div>
        <div class="instagrams col-md-2 col-sm-3 col-xs-4"></div>
        <div class="instagrams col-md-2 col-sm-3 col-xs-4"></div>
        <div class="instagrams col-md-2 col-sm-3 col-xs-4"></div>
        <div class="instagrams col-md-2 col-sm-3 col-xs-4"></div>
        <div class="instagrams col-md-2 col-sm-3 col-xs-4"></div>

    </div>

<h1 style="border: solid 1px black;">Here would go location map and full address, footer links, logo, order online link, </h1>


</div>