<title>Nonna Picci</title>
<h1 style="border: solid 1px black;">Here would go logo, phone number &amp; location</h1>
<h1 style="border: solid 1px black;">Here would go online ordering, navigation links</h1>
<h2>Possible Landing Page Ideas for Home Page</h2>
<h3>These are all pretty rough, so use your imagination.</h3>

<div class="jumbotron head1">
        <button class="buttons home-page-button-upcoming-events" style="position:absolute;left:3em;top:3em;">Upcoming<br> Events</button>
        <button class="buttons home-page-button-host-party" style="position:absolute;right:3em;top:3em;">Host a Party!</button>
        <div style="text-align: center;padding-top:150px;">
            <h1 style='font: 8em "Brush Script MT"'>Nonna Picci</h1>
            <p style='color:#ffffff;font: 3em "Brush Script MT"'>Authentic Woodfired Pizza</p>
        </div>
        <button class="buttons home-page-button-specials" style="position:absolute;left:3em;bottom:3em;">Specials</button>
        <button class="buttons home-page-button-signature-dishes" style="position:absolute;right:3em;bottom:3em;">Signature Dishes</button>
</div>

<div class="jumbotron head2">
    <div class="col-sm-3">
        <button class="btn buttons2" >Upcoming Events</button>
        <button class="btn buttons2" >Host a Party!</button>
        <button class="btn buttons2" >Specials</button>
        <button class="btn buttons2" >Signature Dishes</button>
    </div>
    <div class="col-sm-7" style="text-align:right;position:absolute;bottom:3em;right:3em;background-color: #439f3980">
        <h1 style='font: 8em "Brush Script MT"'>Nonna Picci</h1>
        <p style='color:#ffffff;font: 3em "Brush Script MT"'>Authentic Woodfired Pizza</p>
    </div>
</div>
<h2>This is a bad picture, but it shows the general idea</h2>
<div class="jumbotron head3">
    <div class="col-md-6 col-md-offset-3" style="text-align: center;margin-top:150px;background-color:#5a0c0c60;border-radius:10em;">
        <h1 style='font: 6em "Brush Script MT";'>Nonna Picci</h1>
        <p style='color:#ffffff;font: 3em "Brush Script MT"'>Authentic Woodfired Pizza</p>
    </div>
    <button class="buttons buttons-pepperoni" style="width:10em;position:absolute;left:11em;top:1em;">Upcoming<br> Events</button>
    <button class="buttons buttons-pepperoni" style="height:9em;position:absolute;right:10em;top:2em;">Host a Party!</button>
    <button class="buttons buttons-pepperoni" style="width:11em;position:absolute;left:4em;bottom:3em;">Specials</button>
    <button class="buttons buttons-pepperoni" style="height:10em;position:absolute;right:14em;bottom:0.2em;">Signature Dishes</button>
</div>
<h2>About Us</h2>
<h2>Specials</h2>
<h2>Signature Dishes</h2>
<h2>Menu</h2>
<h2>Our Chef</h2>
<h2>Instagram Photos</h2>