h2{
    text-align: center;
}
.jumbotron{
    background: #c07b03;
    height: 600px;
    border-radius: 0;
    position: relative;
}
.jumbotron2{
    background: #ffa500 url("./pics/test-head-pic-cartoon.jpg") center/cover no-repeat;
    height: 600px;
    border-radius: 0;
    padding: 1em;
}
.home-page-buttons{
    height: 12em;
    width: 12em;
    border-radius: 100%;
    outline: none;
    background: transparent;
    animation: pulse 3s infinite;
    font-size: 1.2em;
}
.home-page-buttons:hover{
    animation: none;
    cursor: pointer;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 10px 5px #ffffff;
        
    }
    30% {
        box-shadow: 0 0 15px 10px #ffffff;
    }
    60% {
        box-shadow: 0 0 20px 15px #ffffff;
    }
    100% {
        box-shadow: 0 0 25px 20px #ffffff;
    }
}