<section id='calc'>
			
			<div id='calc-window'></div>
			
			<div><!-- Calculator button container -->
				<div id='calc-operators'>
					<div id='multiplication' class='operator-button'><p>X</p></div>
					<div id='divide' class='operator-button'><p>/</p></div>
					<div id='plus' class='operator-button'><p>+</p></div>
					<div id='minus' class='operator-button'><p>-</p></div>
					<div id='equals' class='operator-button'><p>=</p></div>
				</div>
				
				<div id='calc-numbers'>
					<div id='one' class='number-button'><p>1</p></div>
					<div id='two' class='number-button'><p>2</p></div>
					<div id='three' class='number-button'><p>3</p></div>
					<div id='four' class='number-button'><p>4</p></div>
					<div id='five' class='number-button'><p>5</p></div>
					<div id='six' class='number-button'><p>6</p></div>
					<div id='seven' class='number-button'><p>7</p></div>
					<div id='eight' class='number-button'><p>8</p></div>
					<div id='nine' class='number-button'><p>9</p></div>
					<div id='clear' class='number-button'><p>C</p></div>
					<div id='zero' class='number-button'><p>0</p></div>
					<div id='decimal' class='number-button'><p>.</p></div>
				</div>
			</div>
</section><!-- end mid-container -->
