/*Need a background pic for page and possibly one for message*/
h1{
    color: #99badd;
    font-weight: bold;
}
#contact-message{
    font-size: 20px;
    border: thin solid black;
    border-radius: 40px;
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 6px 6px 5px #99badd;
}
#contact-bg{
    clip-path: polygon(0 0, 100% 0, 100% 63%, 92% 70%, 70% 70%, 82% 91%, 57% 70%, 8% 70%, 0 63%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 63%, 92% 70%, 70% 70%, 82% 91%, 57% 70%, 8% 70%, 0 63%);
    border-radius: 10px 10px;
    background-image: url("../../assets/imgs/oregon_waves.jpg");
    background-position: top;
    background-color: #99badd;
    position: absolute;
    left: 50%;
    width: 50%;
    margin-left: -25%;
    height: 600px;
    z-index: -1;
}
#contact-form{
    margin-bottom: 180px;
    margin-top: 10px;
}
#contact-submit{
    background: none;
    border: 2px #99badd solid;
    position: absolute;
    width: 80px;
    left: 50%;
    margin-left: -40px;
    outline: none;
}
#contact-submit:hover{
    border-color: white;
}
#contact-submit:active{
    box-shadow: 0 0 2px 4px #99badd;
}
textarea{
    resize: none;
}
.error-message{
    color: maroon;
    font-size: 14px;
}
.error{
    border-color: maroon !important;
}
/*after-send actionable items*/
.mail-message{
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 500px;
    background-image: url("../../assets/imgs/oregon_waves.jpg");
    font-size: 30px;
    border-radius: 50%;
    box-shadow: 0 0 400px 150px #99badd;
    padding: 170px 100px;
    text-shadow: 1px 1px 0 white,
				-1px -1px 0 white,
				1px -1px 0 white,
				-1px 1px 0 white,
				0px 1px 0 white,
				1px 0px 0 white,
				0px -1px 0 white,
				-1px 0px 0 white;
}
.mail-message a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 0 #99badd,
				-1px -1px 0 #99badd,
				1px -1px 0 #99badd,
				-1px 1px 0 #99badd,
				0px 1px 0 #99badd,
				1px 0px 0 #99badd,
				0px -1px 0 #99badd,
				-1px 0px 0 #99badd;
}
.mail-message a:hover{
    color: #99badd;
    text-shadow: 1px 1px 0 white,
				-1px -1px 0 white,
				1px -1px 0 white,
				-1px 1px 0 white,
				0px 1px 0 white,
				1px 0px 0 white,
				0px -1px 0 white,
				-1px 0px 0 white;
}
@media screen and (max-width: 991px){
    .mail-message{
        left: 10%;
        top: 25%;
        height: 500px;
        width: 80%;
        font-size: 22px;
    }
}
@media screen and (max-width: 767px){
    #contact-message{
        font-size: 16px;
    }
}
@media screen and (max-width: 768px){
    #contact-bg{
        left: 50%;
        width: 90%;
        margin-left: -45%;
    }
}
@media screen and (max-width: 502px){
    .mail-message{
        font-size: 20px;
        padding: 170px 50px;
    }
}