
<app-header-small></app-header-small>
  <section class="row">

    <div id="contact-message" class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
      <h1>Contact Me</h1>
      <p>Thank you for visiting my site.  Please use the contact form below to get in touch with me.  Be assured, if you are legitimate in your inquiry, I will promptly make contact with you using the supplied email.  Have a wonderful day!</p>
    </div>
  </section>
  <section class="row">
    <div id="contact-bg" class="col-md-6 col-md-offset-3">
      <form id="contact-form"
      [formGroup]="contactForm"
      (ngSubmit)="onSubmit(contactForm.value)"
      >
        <div class="form-group">
          <label for="name-input">Name:</label>
          <input type="text" class="form-control" [formControl]="contactForm.controls['name']" [class.error]="!contactForm.controls['name'].valid">
          <div class="error-message" *ngIf="!contactForm.controls['name'].valid">Please type your full name</div>

          <label for="email-input">Email:</label>
          <input type="email" class="form-control" [formControl]="contactForm.controls['email']" [class.error]="!contactForm.controls['email'].valid">
          <div class="error-message" *ngIf="!contactForm.controls['email'].valid">Please provide a valid email (email@something.com)</div>
          <label for="phone-input">Phone:</label>
          <input type="tel" class="form-control" [formControl]="contactForm.controls['phone']" [class.error]="!contactForm.controls['phone'].valid">
          <div class="error-message" *ngIf="!contactForm.controls['phone'].valid">Please provide a valid phone number (111-222-3333)</div>

          <label for="message">Message:</label>
          <textarea type="text" class="form-control" rows="2" cols="50" [formControl]="contactForm.controls['message']" [class.error]="!contactForm.controls['message'].valid"></textarea>
          <div class="error-message" *ngIf="!contactForm.controls['message'].valid">Tell me what you need</div>
        </div>
        <button type="submit" id="contact-submit" class="btn" *ngIf="contactForm.valid"><strong>Send</strong></button>
      </form>
      <!--splash page for email sent-->
      <div *ngIf="received" class="mail-message img-responsive">
        <p>Thank you for sending me your information.  <br>I will be in touch soon!</p>
        <a href="/home">Back to home page</a>
      </div>
      <!--splash page for email sent-->
      <div *ngIf="error" class="mail-message img-responsive">
        <p>There seems to be an issue with the email server.  Please try again soon.</p>
        <a href="/home">Back to home page</a>
      </div>
    </div>
  </section>

