
.checklist-container{
	width: 700px;
	margin: 20px auto 20px auto;
}

.checklist{
	margin: 0;
	padding: 10px;
	width: 700px;
	height: auto;
	text-align: center;
	border-style: solid;
	border-radius: 15px;
	box-shadow: -5px -5px 5px #66ccff;
}

.instruction{
	text-align: left;
	margin-top: 20px;
	margin-bottom: 0px;
	padding: 0;
	color: #66ccff;
}

.checklist-items{
	margin-top: 40px;
	text-align: left;
	width: 600px;
	list-style-type: none;
	padding-left: 0;
	font-size: 20px;
}

#checklist li{
	margin-top: 10px;
	border-bottom: solid;
	border-width: 1px;
	border-color: red;
}

li:before{
	margin-right: 20px;
	content: url('../imgs/check1.png');
}

.limit-text{
	color: black;
	font-size: 11px;
}

.limit{
	color: black;
}

.input{
	width: 335px;
}


