#new-heights-bg{
    background: #a3a3a3 url("../../assets/imgs/pigeon-atop-skyscraper.jpeg") no-repeat 80% 50%;
}
#marketing-message{
    position: absolute;
    top: 25%;
    margin-left: 20%;
}
#marketing-message p{
    font-size: 2em;
}
#marketing-message label{
    font-size: 1.7em;
    padding-left: 20px;
    text-align: center;
}
#marketing-message ul{
    list-style: none;
    font-size: 1.3em;
    padding-left: 25px;
    background-color: #99badd92;
    width: 85%;
    border-radius: 10px;
}
#contact{
    font-size: 1.5em !important;
    
}
#contact a{
    color: #00ad34;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: none;
}
#contact a:hover{
    color: red;
}
h1{
    margin-bottom: 1em;
    color: #99badd;
    font-weight: bold;
}
.item{
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
}
.item-link:hover{
    text-decoration: none;
    cursor: pointer;
}   
.item-link:hover img{
    box-shadow: 0 0 2px 1px #f44242,0 0 30px 15px #d3d3d3;
}
img{
    box-shadow: 0 0 30px 15px #d3d3d3;
}
.half-circle{
    border-radius: 0 0 50% 50%;
}
h2{
    color: white;
    text-shadow: 
        1px 1px 0 #000, 
        -1px -1px 0 #000, 
        1px -1px 0 #000, 
        -1px 1px 0 #000, 
        0 1px 0 #000, 
        1px 0 0 #000, 
        0 -1px 0 #000, 
        -1px 0 0 #000;
    text-align: center;
    margin-top: -4em;
    margin-bottom: 4em;
}
p{
    font-size: 1.3em;
}
.cms-help{
    background-color: #99badd;
}
.cms-help p{
    font-size: 1em;
}
.cms-help a{
    font-size: 2em;
    color: #99badd;
    background-color: #dfdbdb;
    padding: 0.2em;
    border-radius: 5px;
}
.cms-help a:hover{
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
}
.upwork{
    background-color: #38a0009c;
    padding: 1em;
}
@media screen and (max-width: 1200px){
    h2{
        font-size: 1.9em;
    }
}
@media screen and (max-width: 768px){
    #marketing-message{
        margin-left: 5%;
    }
    #marketing-message p{
        font-size: 1.5em;
    }
    #marketing-message label{
        font-size: 1.2em;
    }
    #marketing-message ul{
        font-size: 1em;
    }
    #contact{
        font-size: 1.2em !important;
    }
}
@media screen and (max-width: 575px){
    h2{
        font-size: 1.5em;
    }
    p{
        font-size: 1em;
    }
}
@media screen and (max-width: 400px){
    h2{
        font-size: 1.3em;
    }

}