.portfolio-container{
    margin-top: 100px;
    margin-bottom: 200px;
}
h1{
    margin-bottom: 1em;
    color: #99badd;
    font-weight: bold;
}
.item{
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
}
.item-link:hover{
    text-decoration: none;
    cursor: pointer;
} 
.item-link:hover h2{
    text-shadow: 3px 3px 0 #99badd, 
                -3px -3px 0 #99badd, 
                3px -3px 0 #99badd, 
                -3px 3px 0 #99badd, 
                0 3px 0 #99badd, 
                3px 0 0 #99badd, 
                0 -3px 0 #99badd, 
                -3px 0 0 #99badd;
}
img{
    box-shadow: 0 0 30px 15px #d3d3d3;
}
img:hover{
    box-shadow: 0 0 2px 1px #f44242,0 0 30px 15px #d3d3d3;
    
}
.half-circle{
    border-radius: 0 0 50% 50%;
}
h2{
    color: white;
    text-shadow: 
        1px 1px 0 #000, 
        -1px -1px 0 #000, 
        1px -1px 0 #000, 
        -1px 1px 0 #000, 
        0 1px 0 #000, 
        1px 0 0 #000, 
        0 -1px 0 #000, 
        -1px 0 0 #000;
    text-align: center;
    margin-top: -4em;
    margin-bottom: 4em;
}
p{
    font-size: 1.3em;
    min-height: 8em;
}
.cms-help h3{
    background-color: #99badd;
    text-align: center;
    padding: 1em;
}
.cms-help a{
    font-size: 2em;
    color: #99badd;
    background-color: #dfdbdb;
    padding: 0.2em;
    border-radius: 5px;
}
.cms-help a:hover{
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
}
@media screen and (max-width: 575px){
    h2{
        font-size: 1.5em;
    }
    p{
        font-size: 1em;
    }
}
@media screen and (max-width: 400px){
    h2{
        font-size: 1em;
    }
    p{
        font-size: 0.8em;
    }
}