<title>Portfolio</title>
<app-header-small></app-header-small>
<div id="new-heights-bg" class="image-bg">
    <section id="marketing-message">
        <p>Take your web presence to new heights!</p>
        <label>Specialties</label>
        <ul>
            <li>Angular Web Apps</li>
            <li>Web Consulting</li>
            <li>Plan, Build, &amp; Optimize your Website</li>
        </ul>
        <p id='contact'><a [routerLink]="['/contact']">Contact</a> me now to schedule a meeting.</p>
    </section>
</div>

<section id="top" class='container portfolio-container'>
    <h1>Portfolio</h1>
    <div class="row">
        <div class="item col-md-4 col-md-offset-2 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2" *ngFor="let item of items">
            <a href="{{item.link}}" class="item-link" target="_blank">
                <img class="{{item.shapeClass}} img-responsive" src="{{item.imageUrl}}" alt="{{item.name}}" />
                <h2>{{item.name}}</h2>
            </a>
            <p>{{item.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="cms-help col-xs-12">
            <h3>Need help with Wordpress or another CMS?</h3>
            <p>I can get you up and running, edit a current setup, or act as a consultant.</p>
        </div>
        <div class="upwork col-xs-12">
            <h3>You can also find me on Upwork, a freelance for hire site: <a href="https://www.upwork.com/o/profiles/users/_~0189c0090602248d8f/" target="_blank">Go to My Profile</a></h3>
        </div>
    </div>
</section>
