<title>Portfolio</title>
<app-header-small></app-header-small>
<section class='container portfolio-container'>
    <div class="row">
        <div class="item col-md-4 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2" *ngFor="let item of items">
            <a href="{{item.link}}" class="item-link">
                <img class="{{item.shapeClass}} img-responsive" src="{{item.imageUrl}}" alt="{{item.name}}" />
                <h2>{{item.name}}</h2>
            </a>
            <p>{{item.description}}</p>
        </div>
    </div>
</section>
  
