.items{
    padding-top: 100px;
    min-height: 80vh;
}
.item{
    height: 200px;
    text-align: center;
    margin-bottom: 20px;
}
.item a{
    height: 100%;
    width: 100%;
    display: block;
    box-shadow: 0 0 30px 15px lightgray;
    padding-top: 45px;
    opacity: 1;
}
.item a:hover{
    border: thin solid white;
}
.link-words{
    color: white;
    background: transparent;
    outline: none;
    font-size: 24px;
    padding: 20px !important;
    text-shadow: 1px 1px 0 black,
				-1px -1px 0 black,
				1px -1px 0 black,
				-1px 1px 0 black,
				0px 1px 0 black,
				1px 0px 0 black,
				0px -1px 0 black,
				-1px 0px 0 black;
}
.link-words:active{
    /*box-shadow: 0 0 0 1px white inset;*/
    outline: none;
    border: thin solid lightgray;
}
p{
    box-shadow: 0 6px 35px 15px lightgray;
    padding: 5px;
    background-color: lightgray;
}
@media screen and (max-width: 575px){
    .link-words{
        font-size: 12px;
    }
}
.circle-btn{
    border-radius: 100%;
    padding: 25px 2px 25px 2px;
}
.square-btn{
    border-radius: 0;
    padding: 25px 2px 25px 2px;
}
.semi-btn{
    border-radius: 0 0 100% 100%;
    padding: 25px 2px 25px 2px;
}
.circle{
    border-radius: 100%;
}
.semi{
    border-radius: 0 0 100% 100%;
}
#one{
    background-image: url("../../assets/imgs/curacao_beach.jpg");
    
    background-repeat: no-repeat;
    background-color: #99aabb;
}
#two{
    background-image: url("../../assets/imgs/french_beer.jpg");
    
    background-repeat: no-repeat;
    background-color: #99aabb;
}
#three{
    background-image: url("../../assets/imgs/corn_island_boat.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #99aabb;
}
#four{
    background-image: url("../../assets/imgs/kirkenes_city_sign.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #99aabb;
}
#five{
    background-image: url("../../assets/imgs/japanese_egret.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #99aabb;
}
#six{
    background-image: url("../../assets/imgs/norwegian_fall.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #99aabb;
}
#seven{
    background-image: url("../../assets/imgs/oregon_garden.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #99aabb;
}
#eight{
    background-image: url("../../assets/imgs/thermometer.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #99aabb;
}
#nine{
    background-image: url("../../assets/imgs/oregon_flower.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #99aabb;
}