<div id="logos">
<a id="lh-logo" href="../home">
<!--<?xml version="1.0" encoding="utf-8"?>
 Generator: Adobe Illustrator 16.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)  
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">-->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="35px" height="35px" viewBox="0 0 35 35" enable-background="new 0 0 35 35" xml:space="preserve">
<image overflow="visible" width="35" height="35" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAMAAADVRocKAAAABGdBTUEAALGPC/xhBQAAAAFzUkdC
AK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAb9QTFRF
pc7ppM7ppM3pps/px+Hx1+n11un11uj11ej1zOPyqNDqzeTzwN3wttftwd3wyuLy4e/36vP69vr9
/v///////P3+7/b75PD40OXzqdDq0ub05vH57vb7+Pv9+fz+7PX64u/4w97wt9jt3u336fP59fr8
6PL5xd/wstXs+vz9/f7/vdvvrNLrp8/pq9Hqtdbt1ej0+fz9qtHqps7p+vz+8ff7yeLysdTsqM/q
3+332+v25/L5xuDx3Oz2vNru0+f0r9Pr2Or1zuTz9/r9+/3+vdvu9/v9rdLr8Pb75fH46PP5udnu
0ebz9Pn8utnuyeHxwd3v/f7+x+DxwN3v3ez28Pf7rtPrtdft4e738vj8sNTr3+736fP6qtDqu9ru
y+Pyv9zvzeTyuNjtyOHx7fX68/j82uv2p8/qtNbswNzv/v7/vNvuxd/x1Of0tNbt1Oj09fn8xt/x
zePyvtzv7PT64u/3rNLq6/T64O73y+Lywt7ws9bsxN7ws9Xsr9Tr2er1vtvvxN/wwt3w2On1sNTs
t9ft+fv9/P7+yeHy2er2z+Xz5fD44/D49fr9o83p0ubz0eXz3e33sdXs4e/44e74dunCngAAAAFi
S0dEFJLfyTUAAAAJcEhZcwAACxMAAAsTAQCanBgAAASUSURBVGje7VjtXxNHEL7d9IicRWxymAQS
OV4SU/MCyQWIBEPEFAqIbbQJJvWtiBRorZbSEkpbsfWlVfti0z+4sLMnSfZm+ezvd883Ms/s7M7O
PjOHojhw4MCBAwcOHLx7IFSADUskEcxEWj1d76kd7hNN6FA7NWF97aTacaKV9T7fX5e7xd+tnmoL
0H36A49Xf4ueMz6/GCDQ2xcMHZH0s/3GAA8wODTsOTJ4w5FzonfU/yG3nzdicZdtJhPJkdEezkqp
g2mz6XjR3gy3jI1PZO0S7LrACZNpqmCggRxff0ppZVHzIlg8+fYbsBjTQAgWiILDHAKWKvqfBMsl
zJV0AGGGStZXsj5GutwlsMgosxQ/wvxdpxlhtksWgMx9zFjzYg3w0MG5Y1wXArID0MWzjHVFPMDE
ErNcRF2vQhWMEmmATyAPMSEA/bTESvQalgDaCU/guvQKzM8Yq1wRt+GGDC9j/okbjFCtSU8wd4ax
PhffSfomswzfwq6gUGUEIyHN0G3I4x0xQ12zzOJGXe/CE/1CmiE6A69sRQxwj0lN6RTmT+CZZRal
ARIGY60mBQu/nKUJLMNcAlbjsvVJ7T5jrYkWfjm+LzHXdQ/i2pKHDZbHzSkxQ18Vmb8fLdKpTeb6
tTRD5AHI2TdiAD+8jzzqPwmu69IiDUQYKyI+dm0efR+A+Coj5KQ6YeXxobAKjT5iliETcbV0Ylqu
E9+yPJYGElobEufOM/9u9Aq2QCe+k16BsgYdbzsnAF5paBDVie+h2Ul7jfLDqi7HThLxJDXYQd0l
W58upuAxhgRkjmlmvL71XblOgN6mfozutSGqQu5+QnXiASYxzXDVuU4I85cJShz+GdWJiDyFsIvC
GKYTv0CG+zTElY5cZoTHsvUVuo/qBFfiXuwA9BqT2s0ncp3ohXliRGzH08cVOejEo6i0SLka2LQs
rsR4kceD2CjSvE2uBmLLIntheZFbOnFFXqQDTA1Kv4pX8IQpiN6J6sSMdCSzzv0btCybPD6GIkeb
Ie+DiNQmapC59A6Wx+S2vBmSp9AHh2xTSGPljcOd0WchJI905TmzTKLJvf6CEcZtT6gZITas0t+h
FPfFAN068j6sE8BUHHpm+1m20QPvk4/tNqXIvys861iAwDDoRNoueHwBxnlrarghzGWkUsb6KN/j
Moxkf9ha/d7nTAFpHqaGLXSeeHiMTnjv2ZyQbszyl0tfQiu4is0TL9ChmY9kxdsigexXLQXjOhEU
S1F7xSz3nyInsFKYEXoBDeweSECGBaYjME9cEKYGy4JL9UAJqqy76fOcHHz5a7HXh5btZFOG9Evi
NkFj9Tq2/i0fb9h/+lcKaS2bzWqBZCWa35oHgRo9ZP21V+bLmK0RCI3xD/CcZlvlZkEtWSOBNzXW
P5zLLdzc6S+Hi/zH4sHDotlF/nGsh3YriaNz0kTtzpJF/HtCa/tyPkj/P/Vq0z8Q7BCco8vuvtTb
vzerPtUaL++qr5eO3L3hyJuZ1p5L/n1jNOpSNHZNmm8Y/zX9YjSsUh03WtwbDWOtIm1ZDhw4cODA
gQMHDt5N/A9YKftW+72diwAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAl
dEVYdGRhdGU6Y3JlYXRlADIwMTctMTItMDNUMTU6MDU6MTYtMDU6MDAPT1dgAAAAJXRFWHRkYXRl
Om1vZGlmeQAyMDE3LTEyLTAzVDE1OjA1OjE2LTA1OjAwfhLv3AAAAABJRU5ErkJggg==">
</image>
</svg>
</a>
<a id="linkedIn-logo" href="https://www.linkedin.com/in/larry-hastings-90b36537/" target="_blank">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="50px" height="29px" viewBox="-2 0 40 29" enable-background="new 0 0 40 29" xml:space="preserve">
<image overflow="hidden" width="40" height="29" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEEAAAA2CAYAAACY0PQ8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
bWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0
NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFu
Y2VJRD0ieG1wLmlpZDowOTlBNzAxMTFDN0MxMUUyQjkxNEY3RUNEMkY1ODRBRCIgeG1wTU06RG9j
dW1lbnRJRD0ieG1wLmRpZDowOTlBNzAxMjFDN0MxMUUyQjkxNEY3RUNEMkY1ODRBRCI+IDx4bXBN
TTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkRBRDFBREMwMUM3QjExRTJC
OTE0RjdFQ0QyRjU4NEFEIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjA5OUE3MDEwMUM3QzEx
RTJCOTE0RjdFQ0QyRjU4NEFEIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4
bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+or8+WwAAAn1JREFUeNrsmztIA0EQhudCBG3iq1CD
EBEsVFAhjYVgBCuJkBSWojaWYqedKS2vTmO0tTBFtLKIoGATfIA2giYgEQs12iSgsO6ciRya3Lm+
kpvdH5a77O0V82UeOxuiMcZAW94JAYDOhw+crQwfi2x1Ii7ykgZL2whgC2gpLALCVfQAahKyyUUg
BMrJJwpBeikICsKb3F9ZFOpvg8h4Dwx2eIzPJzdPENm9gPjZrRyegMZvTfvfAaDwHudiUwP0IaAH
rHAIlTTj7zTWkIYQsQAgssbREMwh8JM1qjo4HQJWAduO5SFPG4K+n7bPCbxUkoYQS13DOh+VhM9i
Fs/J5ITZzVOY48McGniPc/iMgvA8gVFMdmx1QlPV4bd7h79WV3MDBLpbjWtJucILHGefIHl5V30I
3K2s42l5R+gd8/ohrwf0YB+MdrdUXP/IYej7V6AfpCGXf6a1WZrlfcfRwoglAFRjvdvoX9JLYwY0
MhAQwJpgB4owkvPD0NRQ53wIGPf6ZN+33kUQerDX+RCuuFujMd8Vtu/mBCptAxXqb6cFARuwvct7
Y2Al+IoCNsnUMfsENDi0kfq0D8AjO3R5Kw398hlG1TwhED0suxHCfgS9wko+CjkBu0/cDVZS/Px/
T7GrAiFp801bASIDIV1jp1E1WSJzhWcZwuFOhUOtSUFQEBQEBaEmeof/lqZpXn4JfphOMMaybpkA
cIOjH+bn+UjI4gkGADTaNJcqzUmXE9Dwokf4pcsJ5hAoeYK01aGcJ8gCIYEeYE6MphyRkOYHWelL
ZPGbz/JLVO0Y1bZZQbCFkCFoV0YUwiJBCEI2uYr/FQoT8Qi0ISz6R7BXAQYAwCHpg1jOjIAAAAAA
SUVORK5CYII=" transform="matrix(1 0 0 1 0.5 0)">
</image>
</svg>

</a>
</div>