<div class='row'>
  <header>
    <nav id='nav-pop'>
      <button id='menu-button'><div id='inner-button'>Menu</div></button>
      <ul id='nav-list' class='hide'>
        <li><a [routerLink]="['/home']"><button>Home</button></a></li>
        <li><a [routerLink]="['/about']"><button>About</button></a></li>
        <li><a [routerLink]="['/portfolio']"><button>Portfolio</button></a></li>
        <li><a href='../../assets/docs/web-dev-resume.pdf' target="_blank"><button>R&egrave;sum&egrave;</button></a></li>
        <li><a [routerLink]="['/contact']"><button>Contact</button></a></li>
      </ul>
    </nav>
  </header>
</div>

