header{
    position: absolute;
    z-index: 1;
}
nav{
    margin: 10px 0 0 30px;
    padding: 10px 5px 0 5px;
}
.nav-pop-out{
    border: thin solid black;
    border-radius: 20px;
}
button:active{
    background-color: white;
}
#menu-button{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    box-shadow: 0 0 50px 5px darkgray;
    background-color: #99badd;
    outline: none;
    padding: 3px;
    margin: 0 19px 0 19px;
    z-index: 2;
}
#menu-button:active{
    background-color: white;
}
#inner-button{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border-style: solid #99badd;
    background-color: white;
    padding-top: 16px;
    text-align: center;
    font: 1em impact;
}
#nav-list{
    list-style: none;
    padding: 0;
    margin-top: 5px;
}
#nav-list a{
    color: #99badd;
    font-size: 20px;
    text-decoration: none;
}
#nav-list a:hover{
    color: red;
}
#nav-list button{
    width: 100px;
    margin-bottom: 3px;
    padding: 2px;
}
#nav-list button:active{
    outline: none;
}