/* You can add global styles to this file, and also import other style files */
body{
	font-family: sans-serif, Arial, Helvetica;
	background-color: #f9f2ec;
}
h1{
	color: #99badd;
	text-shadow: 1px 1px 0 #838383;
	font-weight: bold;
}
.image-bg{
		position: relative;
		height: 80vh;
		width: 100vw - 5px;
		background-size: cover;
		min-height: 400px;
}

