/*Blog styling*/
h2{
	text-shadow: 1px 1px 0 #838383;
  font-weight: bold;
  text-align: center;
}
blockquote{
  background-color: #99badd4b;
  font: italic 1.5em Georgia;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #f4b642;
}
#mobile-view{
    display: none;
}
.steps{
    font: italic 3.5em cursive;
    text-shadow: 1px 1px 0 #838383;
    display: block;
    margin: 10px 0 10px 0;
}
.single{
    margin-bottom: 20px;
}
.top{
    text-align: left;
}
.center{
    text-align: right;
    padding-top: 120px;
    margin-right: 20px;
}
@media screen and (max-width: 1200px){
  .steps{
    font-size: 3em;
  }
  .center{
    padding-top: 80px;
  }
}
@media screen and (max-width: 991px){
    .steps{
        font-size: 2em;
    }
    .center{
      padding-top: 60px;
    }
}
@media screen and (max-width: 767px){
  blockquote{
    font-size: 1em;
  }
  #wide-view{
        display: none;
    }
    #mobile-view{
        display: block;
    }
    .steps{
        font-size: 2em;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
.left{
    background-color: #99badd;
    padding-left: 20px;
    border-radius: 0 50% 50% 0;
    box-shadow: -3px 3px 1px #f4b642;
}
.right{
    text-align: right;
    background-color: #f4b642;
    padding-right: 30px;
    border-radius: 50% 0 0 50%;
    box-shadow: 3px 3px 1px #99badd;
}
@media screen and (max-width: 350px){
    #mobile-view h2{
        font-size: 2em;
    }
    .left{
        padding-left: 5px;
    }
    .right{
        padding-right: 5px;
    }
}
/*Buttons*/
.floating-words{
    text-align: center;
}
.floating-words button{
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 10px #99badd;
    margin: 10px 8px 8px 10px;
    padding: 4px;
    background-color: #f4b6426c;
    font-size: 1.5em;
    outline: none;
}
.floating-words button:active{
    box-shadow: 0px 0px 20px #99badd4b inset;
}

#description-container{
    max-width: 400px;
    min-height: 184px;
    margin: 0 auto;
    background: url("../../assets/imgs/lightbulb.png") no-repeat center;
    margin-top: -50px;
    padding-top: 50px;
}

.description{
    font-size: 0px;
}
.desc-trans{
    transition: border 5s ease;
    transition: font 2s ease;
    font: 1.5em de-walpergens-pica;
    background-color: #99badd4b;
    border-radius: 30px;
    padding: 10px 10px 10px 24px;
}

@media only screen and (max-width: 991px){
    .floating-words button{
        font-size: 1.2em;
    }
}
@media only screen and (max-width: 650px){
    .floating-words button{
        font-size: 0.8em;
        margin: 5px 3px 5px 3px;
        padding: 2px;
    }
    #description-container{
        max-width: 300px;
    }
    .desc-trans{
        font-size: 1em;
    }
}
