/*Blog styling*/
aside{
    background-color: #99badd;
    text-align: center;
    border-radius: 25px;
    padding-bottom: 13px;
    color: white;
}
iframe{
    width: 97%;
    height: 500px;
}
.floating-words{
    text-align: center;
}
.floating-words button{
    display: inline-block;
    border: 1px black solid;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 10px #aaff6d;
    margin: 10px 8px 8px 10px;
    padding: 4px;
    background: none;
    font-size: 20px;
    outline: none;
}
.floating-words button:active{
    box-shadow: 0px 0px 20px #aaff6d inset;
}
@media only screen and (max-width: 991px){
    .floating-words button{
        font-size: 20px;
    }
    iframe{
        height: 300px;
    }
}
@media only screen and (max-width: 650px){
    .floating-words button{
        font-size: 12px;
        margin: 5px 3px 5px 3px;
        padding: 2px;
    }
}
#description-container{
    max-width: 300px;
    margin: 0 auto;
}

.description{
    font-size: 0px;
}
.desc-trans{
    transition: border 5s ease;
    transition: font 2s ease;
    font: 18px de-walpergens-pica;
    border: thin solid #99badd;
    border-radius: 30px;
    padding: 10px 10px 10px 24px;
}

