/*Blog styling*/
.mark-row img{
    border-radius: 20px;
}
.message{
    height: 360px;
    position: relative;
}
.message h2{
    font-size: 5em;
}
.top-left{
    position: absolute;
    top:0;
    left: 0;
}
.bottom-right{
    position: absolute;
    bottom:0;
    right: 0;
}

@media screen and (max-width: 1198px){
    .message{
        height: 295px;
    }
}
@media screen and (max-width: 990px){
    .message{
        height: 221px;
    }
    .message h2{
        font-size: 3em;
    }
}
@media screen and (max-width: 766px){
    .bottom-right{
        top:0;
        right:0;
    }
}
@media screen and (max-width: 600px){
    .message{
        height: 170px;
    }
}
@media screen and (max-width: 500px){
    .message{
        height: 135px;
    }
    .message h2{
        font-size: 2em;
    }
}
@media screen and (max-width: 400px){
    .message{
        height: 100px;
    }
}
@media screen and (max-width: 300px){
    .message{
        height: 74px;
    }
}





/*iframe{
    width: 97%;
    height: 500px;
}
.floating-words{
    text-align: center;
}
.floating-words button{
    display: inline-block;
    border: 1px black solid;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 10px #aaff6d;
    margin: 10px 8px 8px 10px;
    padding: 4px;
    background: none;
    font-size: 1.5em;
    outline: none;
}
.floating-words button:active{
    box-shadow: 0px 0px 20px #aaff6d inset;
}

#description-container{
    max-width: 400px;
    min-height: 184px;
    margin: 0 auto;
    background: url("../../assets/imgs/lightbulb.png") no-repeat center;
    margin-top: -50px;
    padding-top: 50px;
}

.description{
    font-size: 0px;
}
.desc-trans{
    transition: border 5s ease;
    transition: font 2s ease;
    font: 1.5em de-walpergens-pica;
    border: thin solid #99badd;
    border-radius: 30px;
    padding: 10px 10px 10px 24px;
}

@media only screen and (max-width: 991px){
    .floating-words button{
        font-size: 1.2em;
    }
    iframe{
        height: 300px;
    }
}
@media only screen and (max-width: 650px){
    .floating-words button{
        font-size: 0.8em;
        margin: 5px 3px 5px 3px;
        padding: 2px;
    }
    #description-container{
        max-width: 300px;
    }
    .desc-trans{
        font-size: 1em;
    }
}*/